* {
	font-family: Helvetica;
}

body {
	background-color: whitesmoke;
	margin:0;
}

header {
	background-color: #EEE8AA;
	height: 180px;
	width: 100%;
	display: inline-block;
	padding: 0px;
}


strong {
	margin-top: 20px;
	font-size: 80px;
	margin-left: 30%;
	width: 85%;
}

small {
	display: block;
	font-size: 20px;
	margin-left: 37%;
	width: 85%;
}


h2 {
	color: black;
	font-size: 2em;
	margin-left: 2%;
}

a {
	text-decoration: none;
}

main {
	margin-top: 100px;

}
.Menu {
	text-align: center;
	font-size: 16px ;
	position: fixed; 
	top: 145;
	right: 8;
	background-color: rgba(238,232,170,0.9);
	width: 10%;
	border-radius: 20px;
	
}

.Menu a {
	color: black;
	text-decoration: none;
	
}

.Menu a:hover {
	color: #8B0000;
}

.Menu li {
	list-style: none;
	color: black;
	line-height: 40px;
}

h3 {
	margin-left: 2%;
}

.bloc1 {
	width: 70%;
	margin-left: 2%;
}

.Horaires p {
	margin-left: 2%;
}

.Adresse p {
	margin-left: 2%;
}

.Adresse a {
	margin-left: 2%;
}

.Entrees {
	height: 280px;
	margin-left: 2%;
}

.Entrees h3 {	
	margin-left: 35%;
	font-family: Helvetica;
	font-size: 21px;
}

.Entrees p {
	width: 75%;

}
hr { /*Gere la barre de separation*/
	width: 50%;
	border: 2px #EEE8AA inset;
	color: #EEE8AA;
	margin-left: 8%;
}

.Plats {
	height: 280px;
	margin-left: 2%;
	margin-top: 100px;
}	
.Plats h3 {
	margin-left: 35%;
	font-family: Helvetica;
	font-size: 21px;
}

.Plats p {
	width: 75%;
}

.Desserts {
	height: 280px;
	margin-left: 2%;
	margin-top: 100px;
}	

.Desserts h3 {
	margin-left: 35%;
	font-family: Helvetica;
	font-size: 21px;
}

.Desserts p {
	width: 75%;
}
	



